@import "../../styles/variables";

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 768px;
  max-width: 1440px;

  @include desktop {
    flex-direction: row;
    flex: 1;
    min-width: 768px;
  }

  &-Body {
    flex: 1;
    background-color: #e9edf5;
    @include desktop {
      margin: $topbar-height 0 0 $global-sidebar-width;
    }
  }

  &-Topbar {
    background-color: #fff;
    color: #91a0ad;
    height: $topbar-height;
    line-height: $topbar-height;
    padding: 0 2em;
    box-shadow: 0px 1px 0px 0px #e3e6ee;

    @include desktop {
      position: fixed;
      top: 0;
      left: $global-sidebar-width;
      width: calc(100vw - #{$global-sidebar-width});
    };
  }

  &-Content {
    padding: $global-small-horizontal-padding;
    border-top: 1px solid #d8dbe3;

    @include desktop {
      padding: $global-normal-horizontal-padding;
    }
  }
}
