@import "../../styles/variables";

.AppNav {
  flex: 0 0 14em;
  order: -1;
  background-color: #4a5864;
}

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $topbar-height;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background-color: #37414a;

  img {
    height: 50px;
  }
}

.NavListItem {
  display: block;
  padding: 1em 1em 1em;
  color: #c7d4e0;
  text-decoration: none;
}
