body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 1em;
  line-height: 1.42857143;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

* {
  box-sizing: border-box; }

/* Margin
 ========================================================================== */
/*
 * Create a block with the same margin of a paragraph
 * Add margin if adjacent element
 */
.uk-margin {
  margin-bottom: 15px; }

* + .uk-margin {
  margin-top: 15px; }

.uk-margin-top {
  margin-top: 15px !important; }

.uk-margin-bottom {
  margin-bottom: 15px !important; }

.uk-margin-left {
  margin-left: 15px !important; }

.uk-margin-right {
  margin-right: 15px !important; }

/*
 * Larger margins
 */
.uk-margin-large {
  margin-bottom: 50px; }

* + .uk-margin-large {
  margin-top: 50px; }

.uk-margin-large-top {
  margin-top: 50px !important; }

.uk-margin-large-bottom {
  margin-bottom: 50px !important; }

.uk-margin-large-left {
  margin-left: 50px !important; }

.uk-margin-large-right {
  margin-right: 50px !important; }

/*
 * Smaller margins
 */
.uk-margin-small {
  margin-bottom: 5px; }

* + .uk-margin-small {
  margin-top: 5px; }

.uk-margin-small-top {
  margin-top: 5px !important; }

.uk-margin-small-bottom {
  margin-bottom: 5px !important; }

.uk-margin-small-left {
  margin-left: 5px !important; }

.uk-margin-small-right {
  margin-right: 5px !important; }

/*
 * Remove margins
 */
.uk-margin-remove {
  margin: 0 !important; }

.uk-margin-top-remove {
  margin-top: 0 !important; }

.uk-margin-bottom-remove {
  margin-bottom: 0 !important; }

/* Padding
 ========================================================================== */
.uk-padding-remove {
  padding: 0 !important; }

.uk-padding-top-remove {
  padding-top: 0 !important; }

.uk-padding-bottom-remove {
  padding-bottom: 0 !important; }

.uk-padding-vertical-remove {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/* Link
 ========================================================================== */
/*
 * Let links appear in default text color
 */
.uk-link-muted,
.uk-link-muted a {
  color: #444; }

.uk-link-muted:hover,
.uk-link-muted a:hover {
  color: #444; }

/*
 * Reset link style
 */
.uk-link-reset,
.uk-link-reset a,
.uk-link-reset:hover,
.uk-link-reset a:hover,
.uk-link-reset:focus,
.uk-link-reset a:focus {
  color: inherit;
  text-decoration: none; }
