// Name:            Utility
// Description:     Collection of useful utility classes to style your content
// ========================================================================


// Variables
// ========================================================================

$utility-container-max-width:                   980px;
$utility-container-padding-horizontal:          25px;

$utility-container-large-max-width:             1200px;
$utility-container-large-padding-horizontal:    35px;

$utility-align-horizontal:                      15px;
$utility-align-vertical:                        15px;

$utility-height-viewport-min-height:            600px;

$utility-margin:                                15px;
$utility-margin-small:                          5px;
$utility-margin-large:                          50px;

$utility-border-rounded:                        5px;

$utility-heading-large-small-font-size:         36px;
$utility-heading-large-small-line-height:       42px;
$utility-heading-large-font-size:               52px;
$utility-heading-large-line-height:             64px;

$utility-link-muted-color:                      #444;
$utility-link-muted-hover-color:                #444;

$utility-scrollable-text-height:                300px;

$utility-scrollable-box-height:                 170px;
$utility-scrollable-box-padding:                10px;
$utility-scrollable-box-border:                 #ddd;
$utility-scrollable-box-border-width:           1px;


/* Margin
 ========================================================================== */

/*
 * Create a block with the same margin of a paragraph
 * Add margin if adjacent element
 */

.uk-margin { margin-bottom: $utility-margin; }
* + .uk-margin { margin-top: $utility-margin; }

.uk-margin-top { margin-top: $utility-margin !important; }
.uk-margin-bottom { margin-bottom: $utility-margin !important; }
.uk-margin-left { margin-left: $utility-margin !important; }
.uk-margin-right { margin-right: $utility-margin !important; }

/*
 * Larger margins
 */

.uk-margin-large { margin-bottom: $utility-margin-large; }
* + .uk-margin-large { margin-top: $utility-margin-large; }

.uk-margin-large-top { margin-top: $utility-margin-large !important; }
.uk-margin-large-bottom { margin-bottom: $utility-margin-large !important; }
.uk-margin-large-left { margin-left: $utility-margin-large !important; }
.uk-margin-large-right { margin-right: $utility-margin-large !important; }

/*
 * Smaller margins
 */

.uk-margin-small { margin-bottom: $utility-margin-small; }
* + .uk-margin-small { margin-top: $utility-margin-small; }

.uk-margin-small-top { margin-top: $utility-margin-small !important; }
.uk-margin-small-bottom { margin-bottom: $utility-margin-small !important; }
.uk-margin-small-left { margin-left: $utility-margin-small !important; }
.uk-margin-small-right { margin-right: $utility-margin-small !important; }

/*
 * Remove margins
 */

.uk-margin-remove { margin: 0 !important; }
.uk-margin-top-remove { margin-top: 0 !important; }
.uk-margin-bottom-remove { margin-bottom: 0 !important; }


/* Padding
 ========================================================================== */

.uk-padding-remove { padding: 0 !important; }
.uk-padding-top-remove { padding-top: 0 !important; }
.uk-padding-bottom-remove { padding-bottom: 0 !important; }

.uk-padding-vertical-remove {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/* Link
 ========================================================================== */

/*
 * Let links appear in default text color
 */

.uk-link-muted,
.uk-link-muted a { color: $utility-link-muted-color; }

.uk-link-muted:hover,
.uk-link-muted a:hover { color: $utility-link-muted-hover-color; }

/*
 * Reset link style
 */

.uk-link-reset,
.uk-link-reset a,
.uk-link-reset:hover,
.uk-link-reset a:hover,
.uk-link-reset:focus,
.uk-link-reset a:focus {
    color: inherit;
    text-decoration: none;
}
